

.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px 0 120px;
  gap: 40pxx;
}

.hd-left {
  width: 50%;
}

.hd-left h1 {
  font-size: 58px;
  line-height: 1.1;
  margin-bottom: 25px;
  font-family: "Space Grotesk", sans-serif;
}

.hd-left p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-btn {
  padding: 14px 24px;
  background: #1d1d1d;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-btn:hover {
  transform: scale(0.95);
}



.hd-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.hd-right img {
  width: 100%;
  max-width: 450px;
  margin-top: 40px;
}



.brnd {
  padding: 70px 80px 0 120px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  align-items: center;
}



@media (max-width: 1200px) {

  .hd {
    /* padding: 40px 50px; */
  }

  .hd-left h1 {
    font-size: 46px;
  }

  .brnd {
    grid-template-columns: repeat(4, 1fr);
  }
}



@media (max-width: 992px) {

  .hd {
    flex-direction: column;
    text-align: center;
    padding: 40px 40px;
  }

  .hd-left {
    width: 100%;
  }

  .hd-right {
    width: 100%;
  }

  .hd-right img {
    margin-top: 20px;
    max-width: 400px;
  }

  .brnd {
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 20px 0 90px;
  }
}



@media (max-width: 600px) {

  .hd-left h1 {
    font-size: 34px;
  }

  .hd-left p {
    font-size: 14px;
  }

  .cta-btn {
    width: 100%;
  }

  .brnd {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    /* padding: 40px 40px; */
  }
}



@media (max-width: 400px) {

  .hd-left h1 {
    font-size: 28px;
  }

  .brnd {
    grid-template-columns: 1fr;
    padding: 10px 130px;
  }
}