.contact {
  padding: 80px 100px;
  font-family: "Inter", sans-serif;
  
}


.prc-hdr{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.highlight {
  background: #B9FF66;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 24px;
}

.prc-hdr p {
  color: #444;
  padding-top: 10px;
  text-align: center;
}


.contact-box {
  background: #eaeaea;
  border-radius: 30px;
  padding: 50px 0 50px 50px;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  /* overflow: hidden; */
}

/* Left */
.contact-left {
  width: 50%;
}

.say {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  /* background-color: #B9FF66; */
}

.say input {
  margin-right: 8px;
  color: #B9FF66;
  background-color: #B9FF66;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #999;
  outline: none;
  font-size: 14px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  margin-top: 15px;
  padding: 14px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  opacity: 0.9;
}


.right {
  width: 40%;
  display: flex;
  justify-content: end;   
  /* align-items: center;      */
 
}

.right img {

width: 280px;
height: 480px;
margin-left: 60px;
}


@media (max-width: 1400px){
  .right{
     right: -40px;
  }
}
@media (max-width: 1024px){
  .right{
     right: -20px;
  }
}


@media (max-width: 992px) {

  .contact-box {
    flex-direction: column;
    gap: 40px;
  }

  .contact-left {
    width: 100%;
  }

  .right {
    display: none;
  }
}

@media (max-width: 600px) {

  .contact {
    padding: 60px 20px;
  }

  .contact-box {
    padding: 30px;
  }
}